/*! HTML5 Boilerplate v7.3.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  /* color: #222;
  font-size: 1em; */
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

   /* ======   FONT STYLES and SIZES   ====== */

html {
  font-size: 16px;
}

   body {
  font-family: 'Open Sans', sans-serif;
  color: #e2e3ed;
  font-size: 1em;
}

h1, h2, .form input, h3, h4 {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 1.9rem;
  font-weight: normal;
}

h2 {
  font-size: 1.88rem;
  font-weight: normal;
}

h3 {
  font-size: 1.12rem;
  font-weight: normal;
}

h4 {
  font-size: 1.3rem;
  font-weight: normal;
}

p {
  font-size: .9rem;
  margin: 0;
}

img {
  width: 100%;
}

figure {
  margin: 0;
}


    /* ====== HEADER/NAV  STYLES - MOBILE  ====== */

header, header nav, header .content-wrapper {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  background-color: #202322;
}


header figure {
  width: 60%;
  padding: 15px 0;
}

.header-divider {
  width: 100%;
  border: 2px solid grey;
}

header nav ul {
  display: flex;
  justify-content: center;
  width: 45%;
  padding: 5px;
}

li {
  padding: 10px 30px;
  list-style-type: none;
}

ul li a {
  font-family: 'Open Sans', sans-serif;
  color: #e2e3ed;
  font-size: 1.2rem;
  text-decoration: none;
  font-weight: bold;
}

/* ======   FOOTER/CONTACT STYLES - MOBILE   ====== */


footer {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  background-color: #202322;
}

footer .content-wrapper {
  width: 56%;  /* 200/360 = 56%  */
}

footer h4 {
  padding-bottom: 10px;
}

footer .contact {
  padding-top: 50px;
  text-align: center;
  color:#e2e3ed;
  font-style: normal;
}

.contact a {
  color: #e2e3ed;
  text-decoration: none;
}

footer .social {
  padding: 30px 0;
  text-align: center;
}

footer .social-icons {
  display: flex;
  justify-content: space-around;
}


.social-icons i {
  font-size: 1.13rem;
  margin-bottom: 0;
  border-radius: 50%;
  background-color: #527158;
  color: #e2e3ed;
}

.social-icons .fa-facebook-f {
  padding: 11px 15px;
}

.social-icons .fa-twitter {
  padding: 10px;
}

.social-icons .fa-instagram {
  padding: 11px;
}

footer .copyright p {
  padding: 15px 0;
  font-size: 1rem;
}


/* =====   HER0 AREA STYLES - MOBILE   ====== */

/* don't understand why this has to be flex?. something to do with image? */

.hero-area {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  background: url("../img/hero-img.jpg") no-repeat center #333;
  background-size: cover;
  padding: 55px 60px 300px 20px;
}


/* ======   FORM STYLES   ====== */

 aside {
  background-color: #527158;
}

aside .content-wrapper {
  width: 90%;
}

aside h3 {
  padding-bottom: 15px;
  line-height: 2rem;
}

.form-description, .form {
  padding: 20px 15px;
}

.form input {
  width: 90%;
  height: 50px;
  margin: 15px 0;
  border: none;
}

.form input[type=text] {
  padding: 10px;
  box-sizing: border-box;
  font-style: italic;
  color: #afb0b7;
  background-color: #e1e2ea;
}

.form input[type=button] {
  background-color: #2a423a;
  color: #e2e3ed;
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 35px;
  font-family: 'Poppins', sans-serif;
}

/* ======   FEATURES STYLES - MOBILE  ====== */


.features, .features-items  {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

.features {
  background: url("../img/feat-bg.jpg") no-repeat center;
  background-size: cover;
}

.features .content-wrapper {
  width: 85%;  /* 305/360 = 85%  */
  margin-bottom: 35px;
}

.features-items article {
  width: 66%;  /*  200/305= 66%  */
  text-align: center;
}

.features h2 {
  padding: 40px 0;
}

article .features-item-description {
  padding: 40px 0 60px 0;
  margin: 0;
}

.features i {
	font-size: 3.75em;
  margin-bottom: 0;
  padding: 0;
}



/* ======   REVIEWS STYLES - MOBILE  ====== */


.reviews {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  background-color: #2a423a;
}

.reviews .content-wrapper {
  width: 90%;  /* 320/360 = 89%  */
}

.reviews h2 {
  padding-top: 45px;
}

.reviews figure {
  padding: 20px 0;
  border: none;
}

.reviews-content p {
  padding-top: 25px;
  padding-bottom: 40px;
  line-height: 1.4;
}


    /* =====  ABOUT PAGE STYLES - MOBILE   ===== */


.mission {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  background-color: #527158;
}

.mission .content-wrapper, .contact-section .content-wrapper {
  width: 86%;
  padding: 40px 0 20px 0;
}

.mission p {
  padding: 15px 0;
}


.map figure {
    width: 100%;
    height: 0; 
    padding-bottom: 80%; /* 360/450 = 80% */ 
    overflow: hidden;
    position: relative;
}
 
.map iframe {
    width: 100%;
    height: 100%;
    position: absolute; 
    top: 0; 
    left: 0; 
}

.contact-section {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  background-color: #2a423a;
}

.gen-info, .chat-facilitator {
  padding: 5px 0;
  width: 88%;
}

.contact-section h4 {
  padding-bottom: 15px;
}

.contact-section address {
  font-style: normal;
}

.chat-facilitator {
  padding-bottom: 30px;
}


    /* =====   FAQ PAGE STYLES - MOBILE   ===== */


.faq {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  background-color: #527158;
}

.faq .content-wrapper {
  width: 86%;
  padding: 40px 0 20px 0; 
}


.faq-content {
  padding: 17px 0;
}

.faq-content h4 {
  font-size: 1.13rem;
  padding-bottom: 15px;
}



/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
  display: none !important;
}

/*
* Hide only visually, but have it available for screen readers:
* https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
*
* 1. For long content, line feeds are not interpreted as spaces and small width
*    causes content to wrap 1 word per line:
*    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
*/

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
* Extends the .sr-only class to allow the element
* to be focusable when navigated to via the keyboard:
* https://www.drupal.org/node/897638
*/

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
* Hide visually and from screen readers, but maintain layout
*/

.invisible {
  visibility: hidden;
}

/*
* Clearfix: contain floats
*
* For modern browsers
* 1. The space content is one way to avoid an Opera bug when the
*    `contenteditable` attribute is included anywhere else in the document.
*    Otherwise it causes space to appear at the top and bottom of elements
*    that receive the `clearfix` class.
* 2. The use of `table` rather than `block` is only necessary if using
*    `:before` to contain the top-margins of child elements.
*/

.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

.clearfix:after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 768px) {
  /* Tablet Styles here */

    /* ===== General Styles - TABLET   ===== */

  h1 {
    font-size: 3rem;
  }

  h2 {
    font-size: 2.25rem;
  }

  h3 {
    font-size: 1.5rem;
  }

  h4 {
    font-size: 1.75rem;
  }
  

  /* ========== HEADER/FOOTER STYLES FOR TABLET   =========== */

  header .content-wrapper {
    width: 85%;  /* 650/768 = 85% */
    align-content: center;
    padding: 0;
  }

  header figure {
    display: flex;
    flex: 0 1 35%; /* 225/650 = 35% */
    align-items: center;
  }

  header nav {
    display: flex;
    flex: 1 0 20%;  /* 130/650 = 20% */
    justify-content: flex-end;
  }

  
  header nav ul li {
    font-size: 1rem;
  }

  .footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #202322;
    padding: 80px 0;
  }

  footer .content-wrapper {
    width: 70%;  /* 530/768 = 70% (included margins) */
  }

  footer h4 {
    padding-bottom: 30px;
  }

  footer .contact {
    padding: 0;
    flex-basis: 30%;  /* 150/490 = 30%  */
  }

  footer .social {
    padding: 0;
    text-align: center;
    flex-basis: 50%;  /* 200/490 = 40%  (included margins)  */
  }


  .social a img {
    padding: 5px 20px;
  }


  /* =====   Don't need header-divider for tablet  ===== */
  .header-divider {   
    width: 0;
    border: none;
  }


  /* ==========   HERO AREA - TABLET  ========== */


  .hero-area {
  padding: 80px 0 420px 45px;
  }

  .hero-area h1 {
    width: 85%;
  }


  /* ===========   FORM STYLES - TABLET  =========== */


  aside .content-wrapper {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: flex-start;
  }
  
  .form-description, .form {
    width: 45%;
    padding: 30px 10px;
    box-sizing: border-box;
  }


   /* ===========   FEATURES STYLES - TABLET  =========== */


  .features, .features-items  {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: flex-start;
  }
  
  .features .content-wrapper {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    width: 83%;   /*  635/768 = 83%  */
    margin-bottom: 30px;
  }

  .features-items {
    width: 82%;  /*  520/635 = 82%  */
  }
  
  .features-items article {
    width: 37%;  /*  200/535 = 37%  */
    text-align: center;
  }
  
  .features h2 {
    padding-top: 90px;
    padding-bottom: 40px;
  }
  

  article .features-item-description {
    padding: 30 0 50px 0;
    margin: 0;
  }

  
/* ===========   REVIEWS STYLES FOR TABLET  =========== */

  
  .reviews {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    background-color: #2a423a;
  }

  .reviews article {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    padding-bottom: 80px;
  }

  .reviews .content-wrapper {
    width: 85%;  /* 645/768 = 84% */
  }

  .reviews h2 {
    padding-top: 80px;
    width: 78%;  /* 500/645 = 78% */ 
  }

  .photo figure {
    flex: 0 1 50%;
  }

  .reviews-content {
    flex: 1 0 45%;
    padding: 20px;
  }

  .reviews-content p {
    padding: 20px 0;
  }




  /* ==========   ABOUT PAGE STYLES FOR TABLET   =========== */

  .mission .content-wrapper {
    width: 83%; /* 640/768 = 83% */
  }
  .mission-content {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: flex-start;
  }

  .mission .content-wrapper, .contact-section .content-wrapper {
    padding: 80px 0 80px 0;
  }
  
  .mission h2 {
    width: 95%;  /* 610/640 = 95% */
    padding-bottom: 35px;
  }

  .mission p {
    width: 47%; /* 300/640 = 47%  */
    padding: 0;
  }

  .map figure {
    padding-bottom: 44%;  /*340/768 = 44% */
  }
  
  .contact-section .content-wrapper {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: flex-start;
    width: 85%;
  }

  .contact-section h2 {
    width: 85%;
    padding-bottom: 35px;
  }

  .gen-info, .chat-facilitator {
    padding: 5px 0;
    width: 49%;
  }

  .chat-facilitator {
    padding-left: 25px;
    box-sizing: border-box;
  }



  /* ==========   FAQ STYLES FOR TABLET   ========== */


  .faq .content-wrapper {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: flex-start;
    padding: 80px 0 100px 0; 
  }
  
  .faq-content {
    padding-right: 10px;
    box-sizing: border-box;
    width: 46%;
  }

  .faq h2 {
    padding-bottom: 35px;
  }

  .faq-content h4 {
    padding-bottom: 10px;
    font-size: .88rem;
    font-weight: bold;
  }

}


@media only screen and (min-width: 1200px) {
  /* Deskttop Styles here */
   /* ===== General Styles - TABLET   ===== */

   
   h1 {
    font-size: 3.75rem;
  }

  h2 {
    font-size: 2.25rem;
  }

  h3 {
    font-size: 1.88rem;
  }

  h4 {
    font-size: 2.2rem;
  }

  p {
    font-size: 1.13rem;
  }


  /* ========== HEADER STYLES FOR DESKTOP   =========== */

  header .content-wrapper {
    width: 80%; /* 960/1200 = 80% */
  }

  header nav ul li {
    font-size: 1.13rem;
  }  
  
  header figure {
    flex: 0 1 30%;  /*285/960 = 30% */
    align-items: center;
  }

  header nav {
    flex: 1 0 15%;  /* 140/960 = 15% */
    justify-content: flex-end;
  }



  /* ==========   HERO AREA - DESKTOP  ========== */


  .hero-area {
    justify-content: center;
    padding-left: 0;
  }

  .hero-head {
    width: 80%;
    display: flex;
    justify-content: flex-start;

  }


  /* ===========   FORM STYLES - DESKTOP  =========== */

  aside {
    display: flex;
    justify-content: center;
  }

  aside .content-wrapper {
    width: 70%;
  }
  
  .form-description, .form {
    width: 35%;
  }



   /* ===========   FEATURES STYLES - DESKTOP  =========== */


  .features .content-wrapper {
    width: 80%;  /*   960/1200 = 75%   */
    margin-bottom: 70px;
    outline: solid orangered;
  }

  .features-items {
    width: 86%;  /*   830/960 = 86%   */
    outline: dotted paleturquoise;
  }
  
  .features-items article {
    width: 40%;   /*  article + marg = 320 / 830 = 39%   */
    padding: 25px 0;
    outline: dashed rgb(172, 21, 159);
  }
  
  .features h2 {
    padding-bottom: 70px;
    width: 100%;
  }

  article .features-item-description {
    padding: 0 10px;
  }


  
/* ===========   REVIEWS STYLES FOR DESKTOP  =========== */

  
   .reviews .content-wrapper {
    width: 77%;
  }

  .reviews h2 {
    padding-top: 80px;
    padding-bottom: 80px;
    width: 100%;
  }

  .photo {
    flex: 0 1 50%;
  }

  .reviews-content {
    flex: 1 0 45%;
    padding: 20px;
    padding-left: 30px;
  }


/* ==========   FOOTER/CONTACT STYLES FOR DESKTOP  ========== */


  .footer-content {
    width: 100%;
  }

  footer .content-wrapper {
    width: 70%;
  } 

  footer .content-wrapper a {
    font-size: 1.31rem;
  }

  footer .social {
    width: 24%;
  }

  footer .copyright p {
    font-size: 1.31rem;
  }


  /* ==========   ABOUT PAGE STYLES FOR DESKTOP   =========== */

  
  .mission .content-wrapper {
    width: 80%;  /* 950/1200 = 80% */
    padding-bottom: 50px;
  }

  .mission h2 {
    width: 90%;  /* 860/950 = 90% */
    font-size: 3rem;
  }

  .mission-content {
    width: 100%;
  }

  .mission-content p {
    width: 46%;
  }

  .map figure {
    padding-bottom: 37%;  /* 445/1200 = 37% */
  }

  .chat-facilitator {
    padding-left: 25px;
    box-sizing: border-box;
  }

  .contact-section h2 {
    width: 100%;
    font-size: 3rem;
  }


  /* ==========   FAQ STYLES FOR DESKTOP   ========== */


  .faq .content-wrapper {
    width: 80%;
  }

  .faq .content-wrapper h2 {
    width: 100%;
    font-size: 3rem;
  }

  .faq-content h4 {
    font-size: 1.13rem;
    font-weight: bold;
  }

}



/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: "";
  }
  pre {
    white-space: pre-wrap !important;
  }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  /*
     * Printing Tables:
     * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
     */
  thead {
    display: table-header-group;
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
}

